VITE_API_URL=http://your_vm_ip:8000/api
BOT_TOKEN=YOUR_BOT_TOKEN
MINI_APP_URL=YOUR_MINI_APP_URL
WEB_APP_URL=YOUR_WEB_APP_URL
PROXY_HOST=YOUR_PROXY_HOST
PROXY_USER=YOUR_PROXY_USER
PROXY_PASS=YOUR_PROXY_PASSWORD
DAILY_OUTFIT_URL=YOUR_DAILY_OUTFIT_LINK_URL